<!DOCTYPE html>
<html>

<head>
    <title>goto - error</title>
    <link rel="stylesheet" href="/static/bulma.css">
</head>

<body>
    <section class="hero is-danger">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    goto - error
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h1 class="subtitle">
                {{ .Message }}
            </h1>
        </div>
    </section>
</body>

</html>